#APPLICATION
PORT = 
APP_URL = 
NODE_ENV = 

OWNER_PASSWORD = 


#MYSQL
MYSQL_HOST = 
MYSQL_PASSWORD = 
MYSQL_USERNAME = 
MYSQL_DATABASE = 
MYSQL_PORT = 
MYSQL_ROOT_PASSWORD = 
MYSQL_ROOT_USERNAME = 

#REDIS
REDIS_URL = 
REDIS_HOST = 
REDIS_PORT = 

# JWT
ACCESS_TOKEN_SECRET = 
REFRESH_TOKEN_SECRET = 

#S3
S3_SECRET = 
S3_ACCESS = 
S3_BUCKET = 
S3_ENDPOINT = 

#FARSI_PAYAMAK
FARSI_PAYAMAK_USERNAME = 
FARSI_PAYAMAK_API_KEY = 

#OWNERS
OWNER_USERNAME = 
OWNER_PASSWORD = 
OWNER_PASSWORD_X = 

#THROTTLER
THROTTLE_TTL = 
THROTTLE_LIMIT = 

# --- Encryption ---
ENC_KEY=  
ENC_ALGORITHM=
ENC_IV_LENGTH=
ENC_AUTHTAG_LENGTH=

# --- HMAC ---
HMAC_KEY=   
HMAC_ALGORITHM=

# --- License Defaults ---
LICENSE_DEFAULT_EXPIRE_DAYS=
LICENSE_RENEWABLE=

# --- Requirements ---
LICENSE_REQUIRE_HARDWARE_ID=
LICENSE_REQUIRE_FEATURES=

