html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "IRANSans";
  direction: rtl;
  font-size: 0.875rem;
  line-height: 1.8;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  /* overflow-x: hidden; */
}

.pack-icon {
  display: none;
}
.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
