@font-face {
  font-family: "IRANSans";
  src:
    url("/SnappMarket/assets/font/IRANSans-Light-web.woff2") format("woff2"),
    url("/SnappMarket/assets/font/IRANSans-Light-web.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "IRANSans-Regular";
  src:
    url("/SnappMarket/assets/font/IRANSans-Regular-web.woff2") format("woff2"),
    url("/SnappMarket/assets/font/IRANSans-Regular-web.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "IRANSans-Bold";
  src:
    url("/SnappMarket/assets/font/IRANSans-Bold-web.woff2") format("woff2"),
    url("/SnappMarket/assets/font/IRANSans-Bold-web.ttf") format("truetype");
  font-style: normal;
}
